.cart-dropdown {
  position: absolute;
  width: 240px;
  height: 340px;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 90px;
  right: 72px;
  z-index: 5;
  transition: all 0.3;

  &.cart-dropdown-hidden {
    animation: scale-display--reversed 0.3s;
    animation-fill-mode: forwards;
    display: flex;
  }

  &.cart-dropdown-visible {
    animation: scale-display 0.3s;
    display: flex;
  }

  .cart-empty-message {
    font-size: 18px;
    margin: 50px auto;
  }

  .cart-items {
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow: scroll;

    &::-webkit-scrollbar-track {
      height: 3px;
      width: 3px;
      background-color: transparent;
    }

    &::-webkit-scrollbar {
      height: 3px;
      width: 3px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      height: 3px;
      border-radius: 3px;
      background-color: rgba(0, 0, 0, 0.8);
    }
  }

  button {
    margin-top: auto;
  }
}

@keyframes scale-display {
  0% {
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

@keyframes scale-display--reversed {
  0% {
    display: inline-flex;
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  99% {
    display: inline-flex;
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  100% {
    display: none;
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
  }
}
