.collection-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;
  margin: 10px auto;
  position: relative;

  .custom-button {
    position: absolute;
    opacity: 0;
    top: 280px;
  }

  &:hover {
    .collection-item-image {
      opacity: 0.8;
    }

    .custom-button {
      opacity: 0.85;
      top: 260px;
    }
  }

  .collection-item-image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
  }

  .collection-item-footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
  }
}

@media screen and (max-width: 900px) {
  .collection-item {
    height: 250px;

    .custom-button {
      top: 180px;
    }

    &:hover {
      .custom-button {
        top: 160px;
        min-width: 100px;
        width: 100px;
        padding: 5px;
        font-size: 12px;
      }
    }
  }
}
