.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  text-decoration: none;

  .header-logo {
    margin: auto 0;

    img {
      height: 75px;
    }
  }

  .header-links {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .header-link {
    padding: 10px 15px;
    font-size: 28px;
    text-decoration: none;
    color: black;
    cursor: pointer;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}
